<footer class="footer-section" id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-div with-border col-lg-4">
                <img class="footer-logo" src="{{ url_for('static', filename='images/restaurant-logo.png') }}">
                <p>Taste Filipino's finest cuisines whenever and wherever!</p>
            </div>
            <div class="footer-div with-border col-lg-4">
                <p class="footer-title">Follow us on:</p>
                <a class="icons fa-2xl" href="#"><i class="fa-brands fa-square-facebook"></i></a>
                <a class="icons fa-2xl" href="#"><i class="fa-brands fa-square-instagram"></i></a>
                <a class="icons fa-2xl" href="#"><i class="fa-brands fa-square-twitter"></i></a>
            </div>
            <div class="footer-div col-lg-4">
                <p class="footer-title">Connect with us:</p>
                <a class="icons fa-2xl" href="https://github.com/UbySolinap?tab=repositories"><i class="fa-brands fa-github"></i></a>
                <a class="icons fa-2xl" href="https://www.linkedin.com/in/john-uby-solinap-454348201/"><i class="fa-brands fa-linkedin"></i></a>
                <a class="icons fa-2xl" href="mailto: ubys06@gmail.com"><i class="fa-solid fa-envelope"></i></a>
            </div>
        </div>
    </div>
    <p class="copyright">© Filipino Finest 2023</p>
</footer>